<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xq.learn.dao.movie.MovieMapper">
    <select id="list" resultType="movie" parameterType="int">
        select
            *
        from
            rec_movie
        where
            mid = #{mid}
    </select>
</mapper>